@charset "ISO-8859-1";
body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 93, 133, 1) 0%, rgba(0, 181, 149, 1) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    height:100%;
}

.dropdown-menu{
	background:#444;
	color: #fff;
	
}

#logIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    letter-spacing: .125em;
}

nav a {
    color: #cdc !important;
}

.nav-link:hover{
    color:#101010 !important;
}

.navbar-toggler-icon{
    color: #cdc !important;
}

.navbar-brand{
    font-family: 'MedievalSharp', cursive;
    font-size:2em;
    letter-spacing: 0.2em;
}

.card-deck{
    display:grid;
    grid-auto-rows: 26rem;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 50px;
    margin:1em;
    margin-bottom:2rem;
    
}

img{
	height:100%;
	max-height:11.5rem;
}

.card{
    height:auto;
    background:transparent;
    border: 1px solid #555;
    border-radius: 3%;
    color:#cdc;
    box-shadow: 12px 12px 12px 8px rgba(0, 0, 0, 0.1), 12px 12px 12px 8px rgba(0, 0, 0, 0.1);
    margin-top:1em;
    transition: box-shadow 0.5s;
    overflow: hidden
}

.card:hover{
    box-shadow: 20px 20px 20px 8px rgba(0, 0, 0, 0.425), 20px 20px 20px 8px rgba(0, 0, 0, 0.452);
}
footer {
  margin-top:auto; 
}
footer a{
    text-decoration: none;
    color: inherit; 
}